body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    margin: -3px 0 0 0;
}

p {
    color: #ccc;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    color: #fff;
    background-color: #302c34;
} 

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.script-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.script {
    width: 48%;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.script a {
    color: #fff;
    text-decoration: none;
}

.source-code {
    margin-top: 20px;
    text-align: center;
}

.source-code a {
    color: #fff;
    text-decoration: none;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    width: calc(30% - 20px);
    margin: 20px 0;
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
}

.contact img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.contact a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

/* Add this CSS to your existing style.css or create a new file loading.css */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none; /* Initially hidden */
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-overlay p {
    color: #fff;
    margin-top: 10px;
}
