<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Chaingen.com</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>About Us - Chaingen.com</h1>
        <p>Learn more about our mission and team.</p>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contact</a>
    </nav>
    <section>
        <h2>What is Chaingen?</h2>
        <p>Chaingen is a platform that provides tools and resources to help developers build blockchain applications with less effort and time. We offer:</p>
        <ul>
            <li>Automated script generation for popular blockchain frameworks.</li>
            <li>A curated library of blockchain tutorials and guides.</li>
            <li>AI-based tool</li>
        </ul>
    </section>

    <section>
        <h2>Who we are?</h2>
        <p>We are team of enthusiastic 1st year students, who are interest in developing existing and creating new technologies.</p>
        <div class="source-code">
            <p>For the source code of this project, visit:</p>
            <a href="#" target="_blank">https://github.com/qixdev/chaingen/</a>
        </div>
    </section>
</body>
</html>
