<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Chaingen.com</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Contact Us - Chaingen.com</h1>
        <p>Get in touch with our team members.</p>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contact</a>
    </nav>

    <section>
        <div class="contact-container">
            <div class="contact">
                <img src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1229892983-square.jpg" alt="Team Member 1">
                <h2>Danial</h2>
                <p>Captain, DevOps</p>
                <a href="https://t.me/byt3d" target="_blank">Telegram</a>
            </div>

            <div class="contact">
                <img src="https://i.pinimg.com/736x/37/90/fa/3790fa23b20726dae023681455de80fa.jpg" alt="Team Member 2">
                <h2>Nurlan</h2>
                <p>Frontend, Design</p>
                <a href="https://t.me/elualty" target="_blank">Telegram</a>
            </div>

            <div class="contact">
                <img src="https://www.protocol.com/media-library/blockchain-com-ceo-peter-smith.jpg?id=27419183&width=980" alt="Team Member 3">
                <h2>Ansar</h2>
                <p>Researcher</p>
                <a href="https://t.me/cookinsouI" target="_blank">Telegram</a>
            </div>
        </div>

        <div class="source-code">
            <p>For the source code of this project, visit:</p>
            <a href="#" target="_blank">https://github.com/qixdev/chaingen/</a>
        </div>
    </section>


</body>
</html>
