<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script Downloads - Chaingen.com</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Script Downloads - Chaingen.com</h1>
        <p>Download generated scripts for your blockchain projects.</p>
    </header>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>

    <section>
        {% if status %}
        <div class="script-container">
            <div class="script">
                <h2>Bash Script</h2>
                <p>Download the Bash script for your blockchain project:</p>
                <a href="{{ url_for('download_script', script_number=iter)}}" download>Download Bash Script</a>
            </div>
        </div>
        {% else %}
        <h2 style="text-align: center;">asdf I am sorry I don't get your question. Can you provide more information?</h2>
        {% endif %}
        <div class="source-code">
            <p>For the source code of this project, visit:</p>
            <a href="https://github.com/qixdev/chaingen" target="_blank">https://github.com/qixdev/chaingen</a>
        </div>
    </section>
</body>
</html>
