<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaingen.com</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Chaingen.com</h1>
        <p>Unleash the Power of Blockchain Scripting with Ease</p>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('contacts')}}">Contact</a>
    </nav>

    <section>
        <h2>How It Works:</h2>
        <ol>
            <li>Enter your prompt in the text area below.</li>
            <li>Watch as Chaingen.com transforms your idea into a robust blockchain script.</li>
            <li>Copy and implement the script into your blockchain project.</li>
        </ol>

        <!-- <h2>Why Choose Chaingen.com?</h2>
        <ul>
            <li>User-friendly interface</li>
            <li>Efficient script generation</li>
            <li>Tailored solutions for your blockchain projects</li>
        </ul> -->

        <h2>Get Started:</h2>
        <p>Ready to see the magic happen? Enter your prompt and click below to generate your personalized blockchain script.</p>
        <form action="{{ url_for('download') }}" method="post">
            <textarea name="prompt" id="userPrompt" placeholder="Enter your prompt here"></textarea>
        <button>Get Started</button>
        </form>
    </section>
</body>
</html>