<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - Chaingen.com</title>
    <link rel="stylesheet" href="../static/style.css">
    </style>
</head>
<body>
    <header>
        <h1>Error 500</h1>
        <p>Sorry, generated script doesn't work properly, please try again</p>
        <img src="https://i.pinimg.com/736x/0a/67/4c/0a674c0f20b844b8abacb272b7232f42.jpg" alt="500">
        <p>Go back to <a href="{{ url_for('index')}}">home</a> or <a href="/contacts">contact us</a>.</p>
    </header>
</body>
</html>
